* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
width: 100%;
height: 100%;
}

/* Main Container */
.container {
    text-align: center;
    padding: 40px;
    background: #ffffff;
    height: 100vh;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: background 0.3s ease;
}

/* Heading */
.heading {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

/* Button + Input Container */
.inputBtnContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Input */
#colorInput {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
    outline: none;
}

/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #4D96FF;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Current Color Text */
.currentColor {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

.currentColorValue {
    font-weight: bold;
}
